:root {
    --background-color: hsl(238, 35%, 19%);
    --app-color: hsl(254, 29%, 35%);
    --button-color: hsl(137, 74%, 64%);
    --button-hover-color: hsl(137, 74%, 74%);
    --button-active-color: hsl(137, 74%, 84%);
    --clear-button-color: hsl(51, 86%, 66%);
    --clear-button-hover-color: hsl(51, 86%, 76%);
    --clear-button-active-color: hsl(51, 86%, 86%);
    --input-color: hsl(204, 100%, 90%);
    --input-hover-color: hsl(204, 100%, 95%);
    --delete-color: hsl(354, 95%, 59%);
    --delete-hover-color: hsl(354, 95%, 69%);
    --delete-active-color: hsl(354, 95%, 79%);
    --text-color: hsl(282, 39%, 86%);
}

body {
    margin: 0;
    background-color: var(--background-color);
}

h1, li {
    text-shadow: 1px 1px 2px hsl(0, 0%, 10%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--app-color);
    color: var(--text-color);
    height: 90vh;
    overflow-y: auto;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.inputs input {
    height: 3vh;
    width: 20vw;
    background-color: var(--input-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.inputs input:hover {
    background-color: var(--input-hover-color);
}

.inputs button {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#submitBtn {
    background-color: var(--button-color);
}

#submitBtn:hover {
    background-color: var(--button-hover-color);
}

#submitBtn:active {
    background-color: var(--button-active-color);
}

#clearBtn {
    background-color: var(--clear-button-color);
}

#clearBtn:hover {
    background-color: var(--clear-button-hover-color);
}

#clearBtn:active {
    background-color: var(--clear-button-active-color);
}

ul {
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

ul input {
    margin-right: 10px;
}

ul button {
    margin-left: 10px;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--delete-color);
    font-weight: bold;
    cursor: pointer;
}

ul button:hover {
    background-color: var(--delete-hover-color);
}

ul button:active {
    background-color: var(--delete-active-color);
}

.done {
    opacity: 0.4;
    color: hsl(0, 0%, 50%);
    
}

.done span{
    text-decoration: line-through;
}

@media (max-width: 1135px) {

    .container {
        font-size: 1.5rem;
    }

    .inputs input {
        width: 40vw;
    }
}